@model CheckIn.Web.Models.Purchase.PurchaseChannelModel

@{
    Layout = "";
    ViewBag.Title = "Purchase";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Check In</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <section id="loginForm" class="login-panel">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="panel panel-default">
                <h3 class="panel-heading u-no-margin"><span class="brand-logo">Purchase New Channel</span></h3>
                <div class="panel-body">
                    @**@
                    <div class="form-group row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.AdminName, new { placeholder = @"Admin Name", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.AdminName)
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.Email, new { placeholder = @"Email", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.ChannelName, new {placeholder = @"Channel Name", @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.ChannelName)
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(x => x.ChannelDescription, new { placeholder = @"Channel Description", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ChannelDescription)
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <button class="btn btn-default btn-lg" type="submit">Purchase</button>
                    </div>
                </div>
            </div>
        }
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
            .login-panel {
                width: 425px;
                display: block;
                position: absolute;
                top: 50%;
                height: 600px;
                margin-top: -200px;
                left: 50%;
                margin-left: -222px;
                text-align: center;
            }

                .login-panel .panel {
                    border-color: #bce8f1;
                }

                /*.login-panel .form-group {
            margin-bottom: 25px
        }

        .login-panel .form-group:last-child {
            margin-bottom: 15px
        }*/
                /*.login-panel .panel-body {
            padding-top: 25px
        }*/
                .login-panel .panel-heading {
                    color: #31708f;
                    background-color: #d9edf7;
                    border-color: #bce8f1;
                }
            /*.login-panel .form-group input {
            border: none;
            outline: 0;
            border-bottom: 1px solid #ccc;
            box-shadow: none;
            border-radius: 0
        }

        .login-panel .form-group input:focus {
            outline: 0
        }*/
            h3 {
                margin-top: 0;
            }
    </style>
</body>
</html>