@model CheckIn.Web.Models.AdminModel

@{
    Layout = "";
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Check In</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <section id="loginForm" class="login-panel">
        @*<hgroup class="title">
            <h2>Check In</h2>
        </hgroup>*@
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="u-no-margin"><span class="brand-logo">Check In</span></h3>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default btn-lg" type="submit">Login</button>
                    </div>
                </div>
            </div>
        }
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
<style>
    .login-panel {
        width: 600px;
        display: block;
        position: absolute;
        top: 50%;
        height: 400px;
        margin-top: -200px;
        left: 50%;
        margin-left: -300px;
        text-align: center;
    }
    .login-panel .form-group {
        margin-bottom: 25px
    }

    .login-panel .form-group:last-child {
        margin-bottom: 15px
    }
    .login-panel .panel-body {
        padding-top: 25px
    }

    .login-panel .form-group input {
        border: none;
        outline: 0;
        border-bottom: 1px solid #ccc;
        box-shadow: none;
        border-radius: 0
    }

    .login-panel .form-group input:focus {
        outline: 0
    }
</style>
</body>
</html>