@model CheckIn.Web.Models.Login.LoginModel

@{
    Layout = "";
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Check In</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<section class="header">
    
</section>
<section id="loginForm" class="login-panel">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="panel panel-default">
            <h3 class="panel-heading u-no-margin"><span class="brand-logo">Check In</span></h3>
            <div class="panel-body">
                @**@
                <div class="form-group row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(x => x.Email, new {placeholder = @"Email", @class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        @Html.PasswordFor(x => x.Password, new {placeholder = @"Password", @class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="form-group row">
                    <button class="btn btn-default btn-lg" type="submit">Login</button>
                </div>
                <div>
                    <a class="btn" href="@Url.Action("ForgetPassword", "Login")"> <i>Forgot Password</i></a> |
                    <a class="btn" href="@Url.Action("Index", "Purchase")"> <span class="glyphicon glyphicon-shopping-cart"></span> <i>Purchase a new channel!</i></a>
                </div>
            </div>
        </div>
    }
</section>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<style>
    .login-panel {
        width: 425px;
        display: block;
        position: absolute;
        top: 50%;
        height: 500px;
        margin-top: -200px;
        left: 50%;
        margin-left: -222px;
        text-align: center;

    }

    .login-panel .panel {
        border-color: #bce8f1;
    }

    /*.login-panel .form-group {
        margin-bottom: 25px
    }

    .login-panel .form-group:last-child {
        margin-bottom: 15px
    }*/
    /*.login-panel .panel-body {
        padding-top: 25px
    }*/
    .login-panel .panel-heading {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
    /*.login-panel .form-group input {
        border: none;
        outline: 0;
        border-bottom: 1px solid #ccc;
        box-shadow: none;
        border-radius: 0
    }

    .login-panel .form-group input:focus {
        outline: 0
    }*/
    h3 {
        margin-top: 0;
    }
</style>
</body>
</html>