@model CheckIn.Web.Models.Channel.ChannelLocationListModel

<br/>

<p>
    @Html.ActionLink("Back", "Index", "Channel", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Add", "AddLocations", "Channel", new { id = Model.ChannelId }, new { @class = "modal-link btn btn-success" })
</p>

<hr/>
@Html.HiddenFor(x => x.ChannelId)
<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="col-lg-4">Location Name</th>
                <th class="col-lg-3">Latitude</th>
                <th class="col-lg-3">Longitude</th>
                <th class="col-lg-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Locations)
            {
                <tr>
                    <td class="col-lg-4">@item.LocationName</td>
                    <td class="col-lg-3">@item.Latitude</td>
                    <td class="col-lg-3">@item.Longitude</td>
                    <td class="col-lg-2">@Html.ActionLink("Delete", "DeleteApplication", "Channel", new { id = item.LocationId }, new { @class = "btn btn-danger" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>