@model CheckIn.Web.Models.Channel.ChannelWebClipListModel

<br/>

<p>
    @Html.ActionLink("Back", "Index", "Channel", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Add", "AddWebClips", "Channel", new { id = Model.ChannelId }, new { @class = "modal-link btn btn-success" })
</p>

@Html.HiddenFor(x => x.ChannelId)
<div>
    <table class="table">
        <tr>
            <th class="col-lg-4">Name</th>
            <th class="col-lg-3">URL</th>
            <th class="col-lg-3">Open In Browser</th>
            <th class="col-lg-2"></th>
        </tr>
        @foreach (var item in Model.WebClips)
            {
            <tr>
                <td class="col-lg-4">@item.WebClipName</td>
                <td class="col-lg-3">@item.WebClipUrl</td>
                <td class="col-lg-3">
                    @if (item.OpenInBrowser)
                    {
                        <p class="green-icon"><span class="glyphicon glyphicon-ok-sign"></span></p>
                    }
                    else
                    {
                        <p class="red-icon"><span class="glyphicon glyphicon-minus-sign"></span></p>
                    }
                </td>
                <td class="col-lg-2">@Html.ActionLink("Delete", "DeleteApplication", "Channel", new { id = item.WebClipId }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </table>
</div>